.treeNode {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0.5rem auto;
    padding-left: 1.5rem;
    max-width: 60rem;
    color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
}

.treeNodeTitle {
    margin-left: 0.5rem;
}

.lightThemeHighlighted {
    background-color: var(--light-highlight-node);
}

.notHighlighted {
    background-color: transparent;
}

.darkThemeHighlighted {
    background-color: var(--dark-highlighted-node);
}

.darkTitle {
    color: var(--white);
}

.darkHighlightedTitle {
    color: var(--black);
}
