.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 1rem;
    background-color: var(--gray-100);
    padding: 1rem;
    height: min-content;
}

.title {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
