.LoadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.Loading {
    animation: spin 1s linear infinite;
    border: 5px solid #cacaca;
    border-top-color: #e1e1e1;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Loading::after {
    position: absolute;
    top: 5px;
    left: 5px;
    animation: spinInner 1s linear infinite;
    border: 3px solid var(spinner);
    border-top-color: #e1e1e1;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
}

@keyframes spinInner {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
