.leafNode {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0.5rem auto;
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.2;
}

.active {
    background-color: var(--highlight-node);
}

.notActive {
    background-color: transparent;
}

.title {
    margin-left: 0.5rem;
}
