:root {
    --dark-foreground: #ffffff;
    --dark-background: #222222;
    --light-background: #ffffff;
    --light-foreground: #333333;
    --gray-400: #cacaca;
    --gray-300: #e1e1e1;
    --gray-200: #eaeaea;
}
