:root {
    --white: #ffffff;
    --black: black;
    --spinner: #eeeeee;
    --light-tree-background: #fafafa;
    --dark-tree-background: #222222;
    --box-shadow: rgba(0, 0, 0, 0.12);
    --light-highlight-node: #64b5f6;
    --dark-highlighted-node: #e1f5fe;
}
@font-face {
    src: url("./fonts/Roboto-Regular.ttf");
    font-family: "Roboto";
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto";
}

ul,
li {
    list-style-type: none;
}
