.treeContainer {
    flex: 1;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    background-color: var(--gray-50);
}

.additionalLeafInfoContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
}
