.treeContainer {
    flex: 1;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
}

.additionalLeafInfoContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
}

.lightTreeTheme {
    box-shadow: 0 0.2rem 0.8rem 0 var(--box-shadow);
    background-color: var(--light-tree-background);
    color: var(--black);
}

.darkTreeTheme {
    border-radius: 0;
    background-color: var(--dark-tree-background);
    color: var(--white);
}
